.proventbs_block_container {
    position: fixed !important;
    height: 100vh !important;
    width: 100vw !important;
    background: #FFFFFF !important;
    top: 0 !important;
    z-index: 9999 !important;
    overflow: hidden !important;
    left: 0 !important;
}

.proventbs_hero {
    background: linear-gradient(149.14deg, #D8FBF9 -5.45%, #ECF5F5 81.68%) !important;
    border-bottom-right-radius: 300px !important;
    position: relative !important;
    top: 0px !important;
    min-height: 80vh !important;
    padding: 0px 10% !important;
    height: auto !important;
}

.proventbs_hero:after {
    content: "" !important;
    display: table !important;
    clear: both !important;
}

.proventbs_hero_column {
    /* width: 50% !important; */
    float: left !important;
    position: relative !important;
    height: auto !important;
	margin: 5% 0px !important;
}

.proventbs_hero_left {
    width: 40% !important;
}
.proventbs_hero_right {
    width: 60% !important;
}


.proventbs_provent_timer {
    margin-top: 40px !important;
    width: auto !important;
    height: 350px !important;
    position: relative !important;
    right: 80px !important;
    float: right !important;
    animation: clock_bounce 2s infinite alternate !important;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4)) !important;
}

@keyframes clock_bounce {
    from {top: -20px !important;}
    to {top: 20px !important;}
}

.proventbs_blocker_message {
    color: #0D625D !important;
    font-family: 'Inter', sans-serif  !important;
    font-size: 40px  !important;
    width: 90% !important;
    font-weight: bold !important;
    text-align: center !important;
    position: relative !important;
    margin-top: 10% !important;
    line-height: 1.5em !important;
}

.proventbs_timer {
    color: #424244 !important;
    font-family: 'Roboto', sans-serif  !important;
    font-size: 128px !important;
    font-weight: normal !important;
    text-align: center !important;
    margin-top: 5% !important;
    line-height: 1.5em !important;
}

.proventbs_blocksitegraphic {
    position: absolute !important;
    left: 0 !important;
    width: 100% !important;
    height: auto !important;
    z-index: -1 !important;
    bottom: 0px !important;
    background-image: URL(../images/blocksitegraphic.svg) !important;
}

    
/* Footer */

.proventbs_footer_container {
	position: fixed !important;
	width: 100% !important;
	top: 92.5% !important;
	display: block !important;
	margin: 0 auto !important;
}

.proventbs_credit {
	position: relative !important;
    bottom: 0 !important;
    color: #0D625D !important;
    font-family: 'Inter', sans-serif !important;
    left: 20px !important;
    font-size: 16px !important;
    margin-top: 20px !important;
}
.proventbs_settings_icon_link {
	float: right !important;
	position: relative !important;
}
.proventbs_settings_icon {
	color: white !important;
	font-size: 20px !important;
    filter: drop-shadow(1px 1px 1px rgb(0 0 0 / 0.4)) !important;
}
/* Footer ^^^ */