* {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
}

body {
    background: #333;
	margin: 0;
    width: 400px;
    height: 400px;
}


.pomodoro_timer {
	position: relative;
	text-align: center;
	margin-top: 5%;
}


.pomodoro_type_button {
	border: 2px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 20px;
	color: white;
	width: 120px;
	height: 40px;
	background: transparent;
	transition: 0.3s;
	cursor: pointer;
}

.pomodoro_type_button:hover {
	background: #88C3FA;
}

.pomodoro_button_selected {
	background: #88C3FA;
}

.pomodoro_start_button {
	border: 2px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 20px;
	color: white;
	width: 150px;
	height: 40px;
	background: transparent;	
	font-size: 1.5em;
	transition: 0.3s;
	cursor: pointer;
}

.pomodoro_start_button:hover {
	background: #88C3FA;
}

.timer {
	color: white;
	font-size: 8em;
	padding: 0px;
	margin: 0px;
}