* {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
}

body {
	margin: 0;
}

.tint {
	position: fixed;
	background: black;
	opacity: 0.3;
	z-index: -1;
	height: 100%;
	width: 100%;
	top: 0px;
}

.page_background {
	position: fixed;
	background: url("https://images.unsplash.com/photo-1553564932-e3d28a20a317?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1025&q=80");
	background: url("https://images.unsplash.com/photo-1529963183134-61a90db47eaf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80");
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center; /* Center the image */
	height: 100%;
	width: 100%;
	z-index: -2;
	top: 0px;
}


/* Navbar */

.navbar {
    width: 100%;
    height: 60px;
    list-style-type: none;
    top: 0px;
    margin: 0;
    padding: 0px;
	margin-bottom: -60px;
}

.navbar_li {
    display: inline-block;
    padding-top: 16px;
    padding-bottom: 16px;
    position: relative;
}

.navbar_right {
    float: right;
}

.navbar_text {
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    color: #202124;
    text-decoration: none;
    position: relative;
}
.navbar_icons {
	color: white;
	font-size: 20px;
}

.google_apps_icon {
    position: relative;
    width: 25px;
    height: auto;
    top: -4px;
	filter: invert(100%);
}
/* Navbar ^^^ */

/* Widget Slider */


/* NEED TO ADD A NEW CONTAINER, BECAUSE OVERFLOW-X TO BODY MIGHT BREAK OTHER SITES */
.widget_slider_container {
	/* display: none; For now */
	position: absolute;
	right: 0px;
	top: 20%;
	/* background: red; */
	height: 280px;
	width: 300px;
	overflow-x: hidden;
	padding: 0;
	margin: 0;
	cursor: pointer;
	z-index: 2;
}

.widget_container {
	top: 0;
	position: absolute;
	right: -240px;
	border-radius: 20px 0px 0px 20px;
	background: #424244;
	height: 100%;
	width: 300px;
	transition: 0.3s;
}

.widget_slider_container:hover .widget_container {
	right: 0px;
}

.widget_apps {
	top: 10%;
	position: relative;
	float: left;
	width: auto;
	/* background: red; */
	/* background: blue; */
}

.widget_icons_container {
	list-style-type: none;
	padding:0;
	margin: 10px;
}

.widget_icon {
	color: #424244;
	font-size: 1em;
	margin: 5px;
	padding: 10px;
	width: 1em;
	height: auto;
	text-align: center;
	background: white;
	border-radius: 50%;
	transition: 0.3s;
}

.widget_icon:hover {
	color: white;
	background: #0D625D;
}


.widget_app_display {
	float: right;
	width: 78%;
	top: 7.5%;
	position: relative;
	/* background: red; */
}

/* Widget Slider ^^^ */

/* Clock */
.clock {
	font-size: 10em;
	color: white;
	text-align: center;
	margin-bottom: -10px;
	/* margin-top: -20px; */
	position: relative;
	margin-top: 10%;
}
.meridiem {
	font-size: 0.5em;
	position: absolute;
	margin-top: 55px;
	margin-left: 10px;
}
.date {
	font-size: 1em;
	color: white;
	text-align: center;
}
/* Clock ^^^ */

.search_bar_container {
	position: relative;
	text-align: center;
	/* margin-top: 20%; */
	/* margin-top: 40px; */
}
.search_bar {
	background: Transparent;
	color: white;
	border: none;
	border-bottom: 3px solid white;
	width: 35%;
	font-size: 1.5em;
}

.search_bar::placeholder {
	color: white;
	opacity: 1; /* Firefox */
  }

.search_bar:focus {
    outline: none;
}

.search_button {
	background: transparent;
	border: none;
	transition: 0.3s;
	cursor: pointer;
}

.search_button:hover {
	transform: scale(1.2);

}

.fa-search {
	color: white;
	font-size: 1.5em;
}

/* To do list widget */

.tasks_container {
	margin-top: 0px;
	border-radius: 30px;
	min-height: 200px;
	height: auto;
	width: 90%;
	display: block;
	margin: 0 auto;
	position: relative;
	background: #FFFFFF;
}


.add_task_container {
	position: relative;
	text-align: left;
	margin: 15px;
}

.add_task_text {
	color: #0D625D;
	font-size: 1em;
}
.add_task_icon {
	font-size: 16px;
	font-weight: bold;
	color: #0D625D;
	cursor: pointer;
}
.task_bar {
	background: Transparent;
	color: #0D625D;
	border: none;
	border-bottom: 3px solid #0D625D;
	width: 80%;
	position: relative;
	left: 5%;
	font-size: 1.2em;
}

.task_bar::placeholder {
	color: #0D625D;
	opacity: 1; /* Firefox */
  }

.task_bar:focus {
    outline: none;
}

.add_task_button {
	color: #0D625D;
	background: transparent;
	border: none;
	font-size: 2em;
	position: relative;
	left: 5%;
}

.tasks_list {
	list-style-type: none;
	padding: 0%;
	width: 95%;
	display: block;
	margin: 0 auto;
	position: relative;
	left: 5%;
}

.a_task {
	color: #424244;
	font-weight: bold;
}

.cross_out {
	color: rgb(204, 204, 204);
	text-decoration: line-through;
}

.task_checkbox {
	/* transform: scale(2); */
	/* visibility: none; */
	/* opacity: 0; */
}

.delete_task_button {
	background: transparent;
	color: #0D625D;
	border: none;
	font-weight: bold;
	float: right;
	right: 10px;
	position: absolute;
	cursor: pointer;
}

/* To do list widget ^^^ */

/* Footer */

.footer_container {
	position: fixed;
	width: 100%;
	top: 92.5%;
	display: block;
	margin: 0 auto;
}

.credit {
	color: white;
	font-size: 1em;
	left: 20px;
	position: relative;
}
.settings_icon_link {
	float: right;
	right: 20px;
	position: relative;
	top: -35px;
}
.settings_icon {
	color: white;
	font-size: 20px;
}
/* Footer ^^^ */