body {
	margin: 0;
}

.tint {
	position: fixed;
	background: black;
	opacity: 0.5;
	z-index: -1;
	height: 100%;
	width: 100%;
}

.page_background {
	position: fixed;
	background: url("https://images.unsplash.com/photo-1553564932-e3d28a20a317?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1025&q=80");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 100%;
	width: 100%;
	z-index: -2;
}