* {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
}

body {
	margin: 0;
}

.tint {
	position: fixed;
	background: black;
	opacity: 0.3;
	z-index: -1;
	height: 100%;
	width: 100%;
	top: 0px;
}

.page_background {
	position: fixed;
	background: url("https://images.unsplash.com/photo-1553564932-e3d28a20a317?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1025&q=80");
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center; /* Center the image */
	height: 100%;
	width: 100%;
	z-index: -2;
	top: 0px;
}

.pomodoro_timer {
	position: relative;
	text-align: center;
	margin-top: 5%;
}


.pomodoro_type_button {
	border: 2px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 20px;
	color: white;
	width: 120px;
	height: 40px;
	background: transparent;
	transition: 0.3s;
	cursor: pointer;
}

.pomodoro_type_button:hover {
	background: #88C3FA;
}

.pomodoro_button_selected {
	background: #88C3FA;
}

.pomodoro_start_button {
	border: 2px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 20px;
	color: white;
	width: 150px;
	height: 40px;
	background: transparent;	
	font-size: 1.5em;
	transition: 0.3s;
	cursor: pointer;
}

.pomodoro_start_button:hover {
	background: #88C3FA;
}

.timer {
	color: white;
	font-size: 8em;
	padding: 0px;
	margin: 0px;
}

.search_bar_container {
	position: relative;
	text-align: center;
	margin-top: 40px;
}

.search_bar {
	background: Transparent;
	color: white;
	border: none;
	border-bottom: 3px solid white;
	width: 30%;
	font-size: 1.5em;
}

.search_bar::placeholder {
	color: white;
	opacity: 1; /* Firefox */
  }

.search_bar:focus {
    outline: none;
}

.search_button {
	background: transparent;
	border: none;
	transition: 0.3s;
}

.search_button:hover {
	transform: scale(1.2);
}

.fa-search {
	color: white;
	font-size: 1.5em;
}

.to_do_container {
	margin-top: 20px;
}

.add_task_container {
	position: relative;
	text-align: center;
	margin-top: 40px;
}

.add_task_text {
	color: white;
	font-size: 1em;
}

.task_bar {
	background: Transparent;
	color: white;
	border: none;
	border-bottom: 3px solid white;
	width: 30%;
	font-size: 1.5em;
}

.task_bar::placeholder {
	color: white;
	opacity: 1; /* Firefox */
  }

.task_bar:focus {
    outline: none;
}

.tasks_container {
	border: white 2px solid;
	border-radius: 30px;
	height: 600px;
	width: 40%;
	display: block;
	margin: 0 auto;
}

.fa-plus {
	color: white;
	font-size: 1.5em;	
}